* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}

header {
  font-size: 40px;
}

.container {
  background-color: #fafafa;
  width: 500px;
  height: 500px;
  padding: 30px;
  border-radius: 10px;
}

.amount input {
  width: 100%;
  font-size: 35px;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #111;
}

.dropdowns .dropdown-list {
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  margin-top: 5px;
  height: 40px;
  border: 1px solid #111;
}

.dropdowns {
  text-align: left;
  margin: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 20px;
}

.result {
  margin-top: 60px;
  text-align: center;
}

.from-result {
  font-size: 21px;
}

.to-result {
  font-size: 42px;
}
